<section class="footer">
    <footer>
        <a href=""><br><br></a>
        <a href="https://clustrmaps.com/site/1amcp" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=e04GFd81asQ_hJa0Y0IixM94KExShQ4DcZgEuLW3r78&cl=ffffff"></a>
        <a href=""> <b></b></a>
        <a href=""> <br></a>
        <a href=""> <br></a>
        <span class="footer__copyright">Copyright &copy; {% if site.creator %} {{site.creator}} {% endif %} &nbsp {{site.time | date: "%Y"}}</span>
    </footer>
</section>
